body.prime-side-menu-open {
  overflow: hidden;
}

.prime-side-menu-body {
  -webkit-transform: translateX(0px);
  -ms-transform: translateX(0px);
  transform: translateX(0px);
  -webkit-transition: -webkit-transform .3s;
  transition: transform .3s;
}

body.prime-side-menu-open .prime-side-menu-body {
  overflow: hidden;
  -webkit-transform: translateX(270px);
  -ms-transform: translateX(270px);
  transform: translateX(270px);
}

.prime-side-menu {
  background: #222222;
  color: white;
  display: block;
  height: 100%;
  left: 0;
  -webkit-overflow-scrolling: touch;
  overflow-y: scroll;
  padding: 0;
  position: fixed;
  top: 0;
  -webkit-transform: translateX(-270px);
  -ms-transform: translateX(-270px);
  transform: translateX(-270px);
  -webkit-transition: -webkit-transform .3s;
  transition: transform .3s;
  width: 270px;
}

.prime-side-menu h2 {
  font-size: 1.6rem;
  margin: 0;
  padding: 10px;
}

.prime-side-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.prime-side-menu ul li strong {
  border-bottom: 1px solid #353434;
  color: white;
  display: block;
  padding: 10px;
}

.prime-side-menu ul li a {
  border-bottom: 1px solid #353434;
  color: white;
  display: block;
  padding: 10px;
  text-decoration: none;
}

.prime-side-menu ul a {
  padding-left: 10px;
}

.prime-side-menu ul ul a {
  padding-left: 20px;
}

.prime-side-menu ul ul ul a {
  padding-left: 30px;
}

.prime-side-menu ul ul ul ul a {
  padding-left: 40px;
}

.prime-side-menu ul ul ul ul ul a {
  padding-left: 50px;
}

.prime-side-menu ul li a:hover {
  background: #111111;
}

body.prime-side-menu-open .prime-side-menu {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}
