/* Prime SplitButton */

.prime-split-button {
  display: inline-flex;
  position: relative;
}

.prime-split-button > a {
  background: #999999;
  border: 1px solid #777777;
  border-radius: 3px 0 0 3px;
  flex: 0 1 auto;
  margin-right: -1px;
}

.prime-split-button > button {
  background: #999999;
  border: 1px solid #777777;
  border-radius: 0 3px 3px 0;
  flex: 0 1 auto;
}

.prime-split-button > button:before {
  content: "\f107";
  display: inline-block;
  font-family: FontAwesome;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.prime-split-button > button:focus {
  box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.5);
}

.prime-split-button .menu {
  background: white;
  border: 1px solid #777777;
  border-radius: 3px;
  display: none;
  min-width: 200px;
  position: absolute;
  right: 0;
  text-align: left;
  top: 38px;
  z-index: 10;
}

.prime-split-button .menu .item {
  color: black;
  display: block;
  padding: 10px 12px;
  transition: background 0.2s ease-in-out;
}

.prime-split-button .menu .item:visited, .prime-split-button .menu .item:hover {
  color: black;
}

.prime-split-button .menu .item:hover {
  background: #999999;
}

.prime-split-button .menu .item i.fa {
  color: black;
  margin-right: 8px;
}

.prime-split-button .menu .item.divider {
  border-top: 1px solid #aaaaaa;
}
